/* .dark-theme {
  background: #fff;
  background: #080808;
  color: #080808;
} */
* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  /* background: #080808; */
  background: #191f36;
  color: #fff;
}
#header {
  width: 100%;
  height: 100vh;
  background-image: url("./images/samrat.png");
  background-size: auto calc(90%);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.container {
  padding: 10px 10%;
}
/* NAVIGATION DESIGN  */
nav {
  /* position: fixed; */
  /* top: 0; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* #navi {
  position: fixed;
} */

.logo {
  width: 140px;

  position: relative;
}
nav ul {
  flex: 1;
  text-align: right;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff4321;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.27s;
}
nav ul li a:hover {
  color: #ff4321;
}
nav ul li a:hover::after {
  width: 100%;
}
#iconbtn {
  width: 30px;
  /* cursor: pointer; */
}

/* header-text */
.header-text {
  margin-top: 10%;
  font-size: 30px;
}
.header-text h3 {
  font-size: 40px;
  font-weight: 700;
}
.header-text p {
  margin-top: 10px;
  width: 60%;
  font-size: 18px;
}

.header-text h1 {
  font-size: 60px;
  margin-top: 15px;
  font-weight: 700;
  line-height: 1.3;
}

.typedText {
  text-transform: capitalize;
  color: #ff4321;
}
/* <!-- ABOUT SECTION  --> */
#about {
  padding: 80px 0;
  /* padding: 80px(y) 0(x); */
  color: #ababab;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1 {
  flex-basis: 35%;
}
.about-col-1 {
  position: relative;
  width: 400px;
  height: 400px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  overflow: hidden;
}
.about-col-1::before {
  content: "";
  position: absolute;
  inset: -10px 140px;
  background: linear-gradient(315deg, #00ccff, #d400d4);
  transition: 0.5s;
  animation: animate 4s linear infinite;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(360deg);
  }
  100% {
  }
}
.about-col-1:hover::before {
  inset: -20px 0px;
}
.about-col-1::after {
  content: "";
  position: absolute;
  inset: 6px;
  background: #191f36;
  border-radius: 50%;
  z-index: 1;
}
.aboutImg {
  position: absolute;
  inset: 6px;
  background: #070a1c;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
}
.aboutImg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-col-2 {
  flex-basis: 48%;
}
.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}
.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 550;
  cursor: pointer;
  position: relative;
}
.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff4321;
  position: absolute;
  left: 0;
  bottom: -7px;
  transition: 0.5s;
}
.tab-links.active-link::after {
  width: 100%;
}
.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span {
  /* color: rgba(0, 255, 255, 0.637); */
  color: #ff4321;
  font-size: 16px;
  font-weight: 550;
}

.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}
/* SERVICES  */
#services {
  padding: 30px 0;
}
.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 40px;
}
.services-list div {
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}

.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}
.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services-list div a {
  text-decoration: none;
  color: wheat;
  font-size: 13.5px;
  margin-top: 20px;
  display: inline-block;
}
.services-list div a:hover {
  font-size: 14px;
  text-decoration: underline;
}
.services-list div:hover {
  /* background: #ff004f; */
  background: #ff4321;
  /* background: aqua; */
  transform: translateY(-10px);
}
/* PORTFOLIO  */
#portfolio {
  padding: 50px 0;
}
.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 40px;
}
.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.work img {
  width: 100%;
  height: 400px;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.layer {
  width: 100%;
  height: 0;
  /* background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f); */
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff4321);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}
.layer h3 {
  font-weight: 600;
  margin-bottom: 20px;
}
.layer a {
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  text-align: center;
}
.work:hover img {
  transform: scale(1.1);
}
.work:hover .layer {
  height: 100%;
}
.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #5b5959;
  text-decoration: none;
  padding: 14px;
  border-radius: 15px;
  color: #ffff;

  transition: background 0.4s;
}
.btnchat {
  margin: auto 10px;
}
.btn3 {
  background: none;
}

.btn:hover {
  /* background: #ff005198; */
  /* background: #ff4321; */
  background-color: #ff4321;
}
/* CONTACT  */
.contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 60%;
}
.contact-left p {
  margin-top: 30px;
}
.contact-left p i {
  /* color: #ff004f; */
  color: #ff4321;
  margin-right: 15px;
  font-size: 18px;
}
.social-icons {
  margin-top: 30px;
}
.social-icons a {
  text-decoration: none;
  font-size: 20px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover {
  transform: translateY(-5px);
}
.social-icons a .fb:hover {
  color: #1877f2;
}
.social-icons a .gt:hover {
  color: #5b5959;
}
.social-icons a .ins:hover {
  color: rgb(252 175 69);
}
.social-icons a .link:hover {
  color: #0077b5;
}
.social-icons a .yt:hover {
  color: #ff0000;
}
.btn.btn2 {
  display: inline-block;
  /* background: #ff4321; */
  color: rgb(226, 226, 226);
  letter-spacing: 4px;
  font-weight: bold;
}

.btn2:hover {
  /* background-color: #03e9f4; */
  background-color: #ff4321;
  color: #050801;
  box-shadow: 0 0 5px #ff4321, 0 0 25px #ff4321, 0 0 50px #ff4321,
    0 0 200px #ff4321;
  /* box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4; */
  border: hidden;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.contact-right form {
  width: 100%;
}
form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 16px;
  border-radius: 6px;
}
form .btn2 {
  padding: 12px 50px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}
#msg {
  color: #61b752;
  margin-top: -40px;
  display: block;
}
/* copyright */
.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #1c264b;
  /* background: #262626; */
  font-weight: 300;
  margin-top: 20px;
}
.copyright .i2 {
  color: #ff4321;
  /* color: #ff004f; */
}
/* CSS RESPONSIVE FOR SMALL SCREEN  */
nav .ibar {
  display: none;
  cursor: pointer;
}
 
/* 123 */

/* 123 */


@media only screen and (max-width: 600px) {
  #header {
    width: 100%;
    height: 600px;
    background-image: url("./images/samrat.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100%;
    font-size: 25px;
  }
  .header-text h1 {
    font-size: 40px;
  }
  .header-text h3 {
    font-size: 30px;
  }
  .header-text p {
    font-size: 20px;
    text-align: center;

    width: 100%;
  }
  nav .ibar {
    display: block;
  }

  nav ul {
    /* background: #ff004f; */
    background: #283569dc;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }
  nav ul li a:hover {
    color: aqua;
  }
  #iconbtn {
    display: none;
  }
  nav ul .ibar {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }

  .sub-title {
    font-size: 40px;
  }
  .about-col-1,
  .about-col-2 {
    flex-basis: 80%;
  }
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-col-1 {
    margin-top: 380px;
    margin-bottom: 30px;
  }
  .aboutImg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .about-col-2 {
    font-size: 18px;
  }
  .tab-links {
    font-size: 18px;
    margin-right: 20px;
  }
  .Topbtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .btnchat {
    margin-top: -20px;
  }
  .social-icons {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* size:100px; */
  }
  .social-icons a {
    font-size: 25px;
  }
  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }
  .copyright {
    font-size: 14px;
  }
}
@media only screen and (max-width: 400px) {
  #header {
    width: 100%;
    height: 450px;
    background-image: url("./images/samrat.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .about-col-1 {
    margin-top: 430px;
    margin-bottom: 30px;
  }
  .aboutImg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}